.register{
    background-image: url("/images/iStock-691563634.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.login{
    background-image: url("/images/istockphoto-1199233151-1024x1024.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#map{
    min-height: 500px;
}