<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/car-sharing-nav.png" alt="car sharing picture" width="40" height="34">
            ShareRide</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="rides/my-rides">MyRides</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">UserControl</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">ShareRide in numbers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/riders/search">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/rides/publish">Publish a ride</a>
                </li>
                <li>
                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32"
                                 class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1"
                            data-popper-placement="bottom-end"
                            style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(0px, 34.4px, 0px);">
                            <li><a class="dropdown-item" href="/users/profile">Profile</a></li>
                            <li><a class="dropdown-item" href="/users/login">Sign in</a></li>
                            <li><a class="dropdown-item" href="/users/register">Sign up</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/users/logout">Sign out</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>