.register{
    background-image: url("/images/register-main-01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.login{
    background-image: url("/images/login-main-01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.search{
    background-image: url("/images/search-468971613-1024x1024.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

ul {
    list-style-type: none;
}


#googleMap{
    min-height: 500px;
}