.register{
    background-image: url("/images/register-main-01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.login{
    background-image: url("/images/login-main-01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#googleMap{
    min-height: 500px;
}