<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShareRide</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>
<body>
    <header>
        <th:block th:include="~{/fragments/nav.html}"/>
    </header>
    <main>
        <div class="login container border solid my-4">
            <div class="row vh-100 justify-content-center">
                <div class="col-md-4 align-self-center border solid">
                    <form th:action="@{/users/login}"
                          th:method="post" >

                        <div class="mb-3 w-75">
                            <label for="username"
                                   class="form-label"
                                   th:text="#{login_username}"
                            >Email</label>
                            <input type="text"
                                   class="form-control"
                                   id="username"
                                   name="username"
                                   th:value="${username}"
                            />
                        </div>

                        <div class="mb-3 w-75">
                            <label for="password"
                                   class="form-label"
                                   th:text="#{login_password}"
                            >Password</label>
                            <input type="password"
                                   class="form-control"
                                   id="password"
                                   name="password"
                            />
                            <p th:if="${bad_credentials}" class="errors alert alert-danger">
                                Invalid username or password.
                            </p>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    
                    </form>
                </div>    
            </div>
        </div>
    </main>
    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
            </ul>
            <p class="text-center text-muted">© 2022 Company, Inc</p>
        </footer>
    </div>
    <script src="/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>