<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShareRide</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body>
<header>
    <th:block th:include="~{/fragments/nav.html}"/>
</header>
<main>
    <div class="register container my-4 border solid">
        <div class="row justify-content-center">
            <div class="col-md-8 border solid">
                <form th:action="@{/users/register}"
                      th:method="post"
                      th:object="${userModel}">
                    <div class="row">

                        <div class="col-md-6 border solid">

                            <div class="mb-3 w-75">
                                <label for="email" class="form-label">Email</label>
                                <input type="text"
                                       class="form-control"
                                       id="email"
                                       th:field="*{email}"
                                />
                                <div th:if="${#fields.hasErrors('email')}"
                                     th:errors="*{email}"
                                     class="bg-danger rounded">
                                </div>
                            </div>

                            <div class="mb-3 w-75">
                                <label for="firstName" class="form-label">First name</label>
                                <input type="text"
                                       class="form-control"
                                       id="firstName"
                                       th:field="*{firstName}"
                                />
                                <div th:if="${#fields.hasErrors('firstName')}"
                                     th:errors="*{firstName}"
                                     class="bg-danger rounded">Looks good!
                                </div>
                            </div>

                            <div class="mb-3 w-75">
                                <label for="lastName" class="form-label">Last name</label>
                                <input type="text"
                                       class="form-control"
                                       id="lastName"
                                       th:field="*{lastName}"
                                />
                                <div th:if="${#fields.hasErrors('lastName')}"
                                     th:errors="*{lastName}"
                                     class="bg-danger rounded">Looks good!
                                </div>
                            </div>

                            <div class="mb-3 w-75">
                                <label for="language" class="form-label">Language</label>
                                <select class="form-select"
                                        id="language"
                                        th:field="*{language}"
                                >
                                    <option selected value="">Choose...</option>
                                    <option th:each="l : ${T(softuni.bg.model.enums.LanguageEnum).values()}"
                                            th:text="${l}"
                                            th:value="${l}"
                                            th:selected="${l} == *{language}">
                                    </option>
                                </select>
                                <div th:if="${#fields.hasErrors('language')}"
                                     th:errors="*{language}"
                                     class="bg-danger rounded">
                                </div>
                            </div>

                            <div class="mb-3 w-75">
                                <label for="gender" class="form-label">Gender</label>
                                <select class="form-select"
                                        id="gender"
                                        th:field="*{gender}"
                                    >
                                    <option selected value="">Choose...</option>
                                    <option th:each="g : ${T(softuni.bg.model.enums.GenderEnum).values()}"
                                            th:text="${g}"
                                            th:value="${g}"
                                            th:selected="${g} == *{gender}">
                                    </option>
                                </select>
                                <div th:if="${#fields.hasErrors('gender')}"
                                     th:errors="*{gender}"
                                     class="bg-danger rounded">
                                </div>
                            </div>

                            <div class="mb-3 w-75">
                                <label for="birthdate" class="form-label">Birthdate</label>
                                <input type="date"
                                       class="form-control"
                                       th:field="*{birthdate}"
                                       id="birthdate"
                                />
                                <div th:if="${#fields.hasErrors('birthdate')}"
                                     th:errors="*{birthdate}"
                                     class="bg-danger rounded">
                                </div>
                            </div>

                            <div class="mb-3 w-75">
                                <label for="phoneNumber" class="form-label">Phone number</label>
                                <input type="text"
                                       class="form-control"
                                       id="phoneNumber"
                                       th:field="*{phoneNumber}"
                                />
                                <div th:if="${#fields.hasErrors('phoneNumber')}"
                                     th:errors="*{phoneNumber}"
                                     class="bg-danger rounded">Looks good!
                                </div>
                            </div>

                            <div class="mb-3 w-75">
                                <label for="password" class="form-label">Password</label>
                                <input type="password"
                                       class="form-control"
                                       id="password"
                                       th:field="*{password}"
                                />
                                <div th:if="${#fields.hasErrors('password')}"
                                     th:errors="*{password}"
                                     class="bg-danger rounded">
                                </div>
                            </div>

                            <div class="mb-3 w-75">
                                <label for="confirmPassword" class="form-label">Confirm password</label>
                                <input type="password"
                                       class="form-control"
                                       id="confirmPassword"
                                       th:field="*{confirmPassword}"
                                />
                                <div th:if="${#fields.hasErrors('confirmPassword')}"
                                     th:errors="*{confirmPassword}"
                                     class="bg-danger rounded">
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6  border solid">

                            <div class="mb-3 w-75">
                                <label for="country" class="form-label">Country</label>
                                <select class="form-select"
                                        id="country"
                                        th:field="*{address.country}">
                                    <option selected value="">Choose...</option>
                                    <option th:value="BG">Bulgaria</option>
                                </select>
                                <div th:if="${#fields.hasErrors('address.country')}"
                                     th:errors="*{address.country}"
                                     class="bg-danger rounded">
                                </div>
                            </div>

                            <div class="mb-3 w-75">
                                <label for="city" class="form-label">City</label>
                                <select class="form-select"
                                        id="city"
                                        th:field="*{address.city}"
                                     >
                                    <option selected value="">Choose...</option>
                                    <option th:value="Sofia">Sofia</option>
                                    <option th:value="Plovdiv">Plovdiv</option>
                                    <option th:value="Varna">Varna</option>
                                    <option th:value="Burgas">Burgas</option>
                                    <option th:value="Haskovo">Haskovo</option>
                                </select>
                                <div th:if="${#fields.hasErrors('address.city')}"
                                     th:errors="*{address.city}"
                                     class="bg-danger rounded">

                                </div>
                            </div>

                            <div class="mb-3 w-75">
                                <label for="street" class="form-label">Street</label>
                                <input type="text"
                                       class="form-control"
                                       id="street"
                                       th:field="*{address.street}"
                                />
                                <div th:if="${#fields.hasErrors('address.street')}"
                                     th:errors="*{address.street}"
                                     class="bg-danger rounded">
                                </div>
                            </div>

                            <div class="mb-3 w-75">
                                <label for="postalCode" class="form-label">Postal code</label>
                                <input type="text"
                                       class="form-control"
                                       id="postalCode"
                                       th:field="*{address.postalCode}"
                                />
                                <div th:if="${#fields.hasErrors('address.postalCode')}"
                                     th:errors="*{address.postalCode}"
                                     class="bg-danger rounded">
                                </div>
                            </div>

                            <div class="mb-3 w-75">
                                <label for="communication" class="form-label">Communication</label>
                                <select class="form-select"
                                        id="communication"
                                        th:field="*{communication}"
                                    >
                                    <option selected value="">Choose...</option>
                                    <option th:each="c : ${T(softuni.bg.model.enums.CommunicationEnum).values()}"
                                            th:text="${c.getMessage()}"
                                            th:value="${c}"
                                            th:selected="${c} == *{communication}">
                                    </option>
                                </select>
                                <div th:if="${#fields.hasErrors('communication')}"
                                     th:errors="*{communication}"
                                     class="bg-danger rounded">
                                </div>
                            </div>

                            <div class="mb-3 w-75">
                                <label for="smoking" class="form-label">Smoking</label>
                                <select class="form-select"
                                        id="smoking"
                                        th:field="*{smoking}"
                                    >
                                    <option selected value="">Choose...</option>
                                    <option th:each="s : ${T(softuni.bg.model.enums.SmokingEnum).values()}"
                                            th:text="${s.getMessage()}"
                                            th:value="${s}"
                                            th:selected="${s} == *{smoking}">
                                    </option>
                                </select>
                                <div th:if="${#fields.hasErrors('smoking')}"
                                     th:errors="*{smoking}"
                                     class="bg-danger rounded">
                                </div>
                            </div>

                            <div class="mb-3 w-75">
                                <label for="music" class="form-label">Music</label>
                                <select class="form-select"
                                        id="music"
                                        th:field="*{music}"
                                    >
                                    <option selected value="">Choose...</option>
                                    <option th:each="m : ${T(softuni.bg.model.enums.MusicEnum).values()}"
                                            th:text="${m.getMessage()}"
                                            th:value="${m}"
                                            th:selected="${m} == *{music}">
                                    </option>
                                </select>
                                <div th:if="${#fields.hasErrors('music')}"
                                     th:errors="*{music}"
                                     class="bg-danger rounded">
                                </div>
                            </div>

                            <div class="mb-3 w-75">
                                <label for="pets" class="form-label">Pet</label>
                                <select class="form-select"
                                        id="pets"
                                        th:field="*{pet}"
                                    >
                                    <option selected value="">Choose...</option>
                                    <option th:each="p : ${T(softuni.bg.model.enums.PetEnum).values()}"
                                            th:text="${p.getMessage()}"
                                            th:value="${p}"
                                            th:selected="${p} == *{pet}">
                                    </option>
                                </select>
                                <div th:if="${#fields.hasErrors('pet')}"
                                     th:errors="*{pet}"
                                     class="bg-danger rounded">
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="row justify-content-center">
                        <div class="col-4">
                            <div class="col-12">
                                <input type="submit" class="btn btn-primary btn-lg" value="Register"/>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>
</main>
<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted">© 2022 Company, Inc</p>
    </footer>
</div>
<script src="/bootstrap/js/bootstrap.bundle.js"></script>
</body>

</html>