<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShareAride</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body>
<header>
    <th:block th:include="~{/fragments/nav.html}"/>
</header>
<main>
    <div class="search container my-4 border solid vh-100">

        <div class="row mb-3 justify-content-center">
            <div class="col-md-10 mt-5 border solid">
                <form th:action="@{/rides/search}"
                      th:method="get"
                      th:object="${searchRideModel}">
                    <div class="row">

                        <div class="col-md-3 border solid">

                            <div>
                                <input type="text"
                                       class="form-control"
                                       id="departure"
                                       th:field="*{departure}"
                                       placeholder="please enter departure city">
                                <small class="valid-feedback">Looks good!</small>
                            </div>

                        </div>

                        <div class="col-md-3  border solid">

                            <div>
                                <input type="text" class="form-control"
                                       id="arrival"
                                       th:field="*{arrival}"
                                       placeholder="please enter arrival city"
                                />
                                <small class="valid-feedback">Looks good!</small>
                            </div>

                        </div>

                        <div class="col-md-3  border solid">

                            <div>
                                <input type="date"
                                       class="form-control"
                                       id="date"
                                       th:field="*{departureDate}"
                                />
                                <small class="valid-feedback">Looks good!</small>
                            </div>

                        </div>

                        <div class="col-md-3  border solid">

                            <div>
                                <input type="time"
                                       class="form-control"
                                       id="hour"
                                       th:field="*{departureTime}"
                                />
                                <small class="valid-feedback">Looks good!</small>
                            </div>

                        </div>

                        <div class="row justify-content-end ms-auto gx-5 mt-3">
                            <div class="col-2 border solid">
                                <button class="btn btn-primary" type="submit">Find a ride</button>
                            </div>

                        </div>

                    </div>
                </form>
            </div>
        </div>

        <div class="row justify-content-center">
            <div th:each="ride : ${rides}" class="col-md-8 border solid">
                <div class="row bg-secondary bg-gradient">
                    <div class="col-md-2 text-light border solid">
                        <p>Date: <th:block th:text="*{ride.departureDate}"/></p>
                    </div>
                    <div class="col-md-5 border solid">
                        <ul class="list-group text-light">
                            <li class="context-name" th:text="'Driver name: ' + *{ride.driver.firstName} + ' ' + *{ride.driver.lastName}">  /></li>
                            <li class="context-name" th:text="'Departure hour: ' + *{ride.departureTime}"></li>
                        </ul>
                    </div>
                    <div class="col-md-5 border solid">
                        <ul class="list-group text-light">
                            <li class="context-name">Price</li>
                            <li class="context-name">Departure city</li>
                            <li class="context-name">Arrival city</li>
                            <li class="context-name">Number of available seats</li>
                        </ul>
                    </div>
                </div>
<!--                <a href="#" class="stretched-link"></a>-->
            </div>
        </div>
    </div>

</main>
<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted">© 2022 Company, Inc</p>
    </footer>
</div>
<script src="/bootstrap/js/bootstrap.bundle.js"></script>
</body>

</html>